[Unit]
Description=SonarQube
After=network.target network-online.target
Wants=network-online.target

[Service]
ExecStart=/usr/bin/sonar start
ExecStop=/usr/bin/sonar stop
ExecReload=/usr/bin/sonar restart
PIDFile=/run/SonarQube.pid
Type=simple
User={{ sonar_user }}
Group={{ sonar_group }}

[Install]
WantedBy=multi-user.target
