[Unit]
Description=SonarQube
After=network.target network-online.target
Wants=network-online.target

[Service]
ExecStart=/usr/bin/sonar start
ExecStop=/usr/bin/sonar stop
ExecReload=/usr/bin/sonar restart
PIDFile={{ sonar_install_dir }}/bin/linux-{{ ansible_architecture|replace('_','-') }}/SonarQube.pid
Type=simple
User=root
Group=root

[Install]
WantedBy=multi-user.target
